{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
        <h1>Home</h1>
        <p>Check out my <a href="/about">About</a> page.</p>

        <hr>
        <div>
            <div class="bg-body-tertiaryp-5 rounded">
              <div class="col-sm-8 mx-auto">
                <h1>Welcome to DevDive Resource Platform</h1>
                <p>Please proceed to <a href="{% url 'users:register' %}">create your account</a> and publish a post or a resource</p>
                <p>This example is a quick exercise to illustrate how the Home page and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of content in the Home page, checkout the Bootstrap Docs.</p>
                <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
                <p>
                  <a class="btn btn-primary" href="/about" role="button">About &raquo;</a>
                </p>
              </div>
            </div>
          </div>
{% endblock %}